body {
   margin-bottom: 60px;
}
html {
   background:#FFF;
   position: relative;
min-height: 100%;
}

.footer {
  position: absolute;
bottom: 0;
width: 100%;
/* Set the fixed height of the footer here */
height: 60px;
line-height: 60px; /* Vertically center the text there */
background-color: #f5f5f5;
text-align: center;
}



.navbar-toggler{
  color:white!important;
}


.episodeTitle{
  color:white!important;
  font-family: $gibson;
  text-align: center;
  font-weight: 300;
}



.mainTitle {
    color:white!important;
    font-family: $gibson;
    text-align: center;
    font-weight: 300;
}
.headerContent {
    background-image: url("../images/bg_jumbo.jpg");
    background-size: cover;
    background-position: 0 50%;
    margin-bottom: 0;
    position: relative;
    // Extra small devices (portrait phones, less than 34em)
    // No media query since this is the default in Bootstrap
    // Small devices (landscape phones, 34em and up)
    @media (min-width: 34em) {
        height: 150px;
    }
    // Medium devices (tablets, 48em and up)
    @media (min-width: 48em) {
        height: 150px;
    }
    // Large devices (desktops, 62em and up)
    @media (min-width: 62em) {
        min-height: 250px;
    }
    // Extra large devices (large desktops, 75em and up)
    @media (min-width: 75em) {
        min-height: 250px;
    }
    .media__main {
        padding: 10px !important;
    }
}

.navbar {
    border-radius: 0px!important;
    background-color: black;
    font-family: $gibson;
    text-align: center;

    h1 {
      font-weight: 300;
      font-size: 1.5rem;
    }

}


.bg-inverse {
  background: #000!important;
}

.name-div {
    height: 40px!important;
}
h4 {
    line-height: 40px;
}
p {
    font-size: 14px!important;
}
.profileInfo {
    background: white;
}
.navbar-brand {
    font-family: $gibson;
}
.profileImage {
    width: $profileImg;
    height: $profileImg;
    position: relative;
    top: -105px;
    left: 15px;
}
.mainContainer {
}
.vContainer {
  background: black;
  margin-bottom: 2rem;
}


.coverImg--container
{
  img {
    object-fit: cover;
    float:right;
  }

}
