
#episode1{
    @include header ($episode1C);
}


.vidLinks {
  margin: 0 0.5em;
	color: white!important;
  opacity: 0.4;
  font-size: 1.1rem;
  -webkit-transition: opacity 0.35s;
 transition: opacity 0.35s;
  &:hover {
    color: white!important;
    opacity:1;
  }


}




//videoTimeUpdateHandler

.kal-group {
  height: 0px;
  opacity:1;
  @include transition-property(all);
  @include transition-duration (.5s);
}

.kal-group__on {
  opacity: 1;
  height: 350px;
}



//common grid elements

.grid-item.is-expanded,
.grid-item.is-expanded .grid-item-content {
  width: 100%;
  min-height: 400px;
}

.grid-item,
.grid-item-content {
//  width: $itemWidth;
  height:$itemWidth;
}

.grid-item-content {
  color :$darkblue;
//  width: $itemWidth;
  height: $itemWidth;
  text-align: center;
  width: auto;
display: block;
   -webkit-transition: width 0.4s, height 0.4s;
  -moz-transition: width 0.4s, height 0.4s;
      -o-transition: width 0.4s, height 0.4s;
    transition: width 0.4s, height 0.4s;
  img {
    margin-top: 15px;
    margin-bottom: 15px;
  }

}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
  width: 100%;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

.clickFigure {
  // width:4rem;
  // height:4rem;
  // margin: 0 auto;
  // background-image: url("../images/play_pause.png");
  // background-repeat: no-repeat;
  // background-position:bottom;
  // -webkit-transition:background-position .1s ease-in;
  //  -moz-transition:background-position .1s ease-in;
  //  transition:background-position .1s ease-in;
  //  cursor: pointer;
  //  background-color: rgba(0, 0, 0, 0);
  //  position:absolute;
  //  left:102px;
  //  bottom:100px;



}

.clicked {
  background-position:top;
}


figure{
  cursor: pointer;
  position: relative;
  float: left;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s;
  -webkit-transition: opacity 0.35s;
  width:250px;
  height:250px;
  text-align: center;


  .color-block{
   border-radius: 50%;
    position: absolute;
  width:100%;
  height:100%;
   z-index:100;
   top:0;
   left:0;
   opacity:1;
   @include customTransition(opacity, .5s, ease);
    @include customTransition(transform, .5s, ease);
    @include transform(scale3d(0, 0, 1));
  }
  .c1 {
    background-color: $c1;
  }
  .c2 {
    background-color: $c2;
  }
  .c3 {
    background-color: $c3;
  }
  .c4 {
    background-color: $c4;
  }
  .c5 {
    background-color: $c5;
  }
  .c6 {
    background-color: $c6;
  }

  blockquote {
    padding: 5px;
    color:white;
    margin: 0px 0;
     text-transform: none;
     font-size: .9rem;
		 line-height: 1.3;
     opacity:0;
     @include customTransition(opacity, .5s, ease);
     @include customTransition(transform, .5s, ease);
     @include transform(translateY(-15px));
    //  @include transform(scaleY(0));

  }

  svg {
    height: 510px;
    width: 330px;
    position: absolute;
    left: -95px;
    top:-259px;
    z-index:300;
    fill: #121212;
    @include customTransition(fill, .5s, ease);
    @include customTransition(opacity, .5s, ease);
   @include transform(scale3d(.85, .85, .85));
   @include customTransition(opacity, .5s, ease);
    @include customTransition(transform, .5s, ease);
    transform-origin: 70% 70% 0;
  }


  h2 {
    color:#121212;
    @include customTransition(color, .5s, ease);
    @include customTransition(transform, .5s, ease);
    @include transform(translateY(-15px));
    font-family: gibson;
    font-size: 1.2rem;
    font-weight: 500;
  }

  figcaption {
    position: relative;
  	z-index: 500;
  }


  &:hover {
    h2 {
      color:#FFF;
      @include transform(translateY(10px));

    }
    .color-block{
     opacity:1;
      @include transform(scale3d(1, 1, 1));
    }
    svg {
    fill:#FFF;
   	opacity: 0.2;
     @include transform(scale3d(.5, .5, 1));
   }
   blockquote {
   	@include transform(translateY(10px));
  //  @include transform(scaleY(1));
    opacity: 1;
   }

  }





}


figure.active   {
  h2 {
    color:#FFF;
    @include transform(translateY(10px));

  }
  .color-block{
   opacity:1;
    @include transform(scale3d(1, 1, 1));
  }
  svg {
  fill:#FFF;
  opacity: 0.2;
   @include transform(scale3d(.5, .5, 1));
 }
 blockquote {
  @include transform(translateY(10px));
//  @include transform(scaleY(1));
  opacity: 1;
 }

}












//disable figure
