/* Solarized Colors */

$lightgray: #819090;
$gray: #708284;
$mediumgray: #536870;
$darkgray: #475B62;
$darkblue: #0A2933;
$darkerblue: #042029;
$paleryellow: #FCF4DC;
$paleyellow: #EAE3CB;
$yellow: #A57706;
$orange: #BD3613;
$red: #D11C24;
$pink: #C61C6F;
$purple: #595AB7;
$blue: #2176C7;
$cyan: #259286;
$green: #738A05;
// Fakebook colors

$fbBlue :#3b5998;

//episodes colors;

$episode1C:#8d2c34;
$episode2C:#370f3b;
$episode3C:#202860;


/* Colors from Liverpool */

$liverpoolBlue:#083B82;


/*Material Colors*/
$indigo: #3F51B5;
$orange:#EF6C00;
$blue:#2196F3;
$gray:#333;


/*Dimensions*/
$thumbSize:75px;
$profileImg:125px;
$itemWidth:200px;


/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lato:100,400,400i,700i');


$lato: 'Lato', sans-serif;
$fjalla:'Fjalla One', sans-serif;
$arvo: 'Arvo', serif;
//scrub bd-pageheader
$seekBarH:1.5rem;
